@import '../../variables.scss';

.navbar {
  position: relative;
  z-index: 10;
}

a.nav-link {
  color: $light-text-color;

}

a.nav-link:hover {
  text-decoration: line-through;
}

a.nav-link.active {
  text-decoration: line-through;
}

.navbar-nav .nav-item .nav-link {
  padding-left: 60px !important;
  padding-right: 0px !important;
}