.footer {
    padding: 60px 0px;
    margin-top: 40px;
    background: black;
}

.social {
    margin-top: 10px;
    padding: 0px;
}

.social li {
    display: inline-block;
    margin-right: 10px;
}

.social li img {
    width: 30px;
    margin: 0px;
}

.footer .action {
    text-align: right;
}