.feature-post {
    .info {
        h3 {
            height: 70px;
            overflow: hidden;
        }
        .short-text {
            height: 100px;
            overflow: hidden;
        }
        .big-text {
            height: 90%;
            overflow: hidden;
        }
    }
}