@import "./variables.scss";

#root {
  position: relative;
  background-color: $background-color;
  color: $default-text-color;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "gothampro_black";
  src: url("./assets/fonts/gothampro/gothampro_black.ttf") format("truetype");
}

@font-face {
  font-family: "gothampro_light";
  src: url("./assets/fonts/gothampro/gothampro_light.ttf") format("truetype");
}

@font-face {
  font-family: "gothampro_medium";
  src: url("./assets/fonts/gothampro/gothampro_medium.ttf") format("truetype");
}

@font-face {
  font-family: "gothampro_regular";
  src: url("./assets/fonts/gothampro/gothampro.ttf") format("truetype");
}

.white {
  color: white;
}

.content {
  position: relative;
}

h6,
h2,
h5,
h4 {
  margin: 0px;
  padding: 0px;
  font-family: "gothampro_medium";
}

h1,
h3 {
  font-family: "gothampro_black";
}

a,
p,
button,
.date,
.checkbox-container,
.sortbox-container,
.reply {
  font-family: "gothampro_regular";
  $font-size: $font-size-sm;
}

h3 {
  font-size: $font-size-base;
}

.project {
  position: relative;
}

.action {
  text-align: center;
}

.play-icon {
  background: url("./assets/images/play.png");
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: block;
}

.white-fill {
  background-color: white;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h3.title {
  font-family: "gothampro_medium";
  padding: 0px;
  margin-top: 30px;
}

.no-space {
  padding: 0px;
}

.projects {
  margin-top: 20px;
}

.outspace {
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.progress {
  border-radius: 100px;
  height: 0.5rem;
  background-color: #949494;
}

.aboutMe .image img {
  width: 100%;
}

.action button {
  margin-bottom: 10px;
}

.tag {
  border: 1px solid black;
  padding: 2px 30px;
  text-align: right;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.tag:hover {
  background: black;
  color: white;
}

.filter {
  margin-top: 20px;
  padding: 10px 0px 0px 10px;
}

.posts {
  margin-top: 20px;
}

.categories {
  font-family: "gothampro_medium";
  margin: -10px 0px;
  display: inline-block;
  width: 100%;
  height: 25px;
  overflow: hidden;
}

.categories span {
  font-family: "gothampro_light";
}

.date {
  font-family: "gothampro_light";
  font-size: 12px;
}

input.form-control {
  font-family: "gothampro_light";
  border: none;
  background-color: #e9e9e9;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-check .form-check-input {
  border: none;
  border-radius: 0px;
}

/* The container */

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #d8d8d8;
}

/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkmark {
  background-color: #bbbbbb;
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sortbox-container {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  width: 100%;
}

.sortbox {
  position: absolute;
  left: 2px;
  top: 3px;
  border: solid #c3c3c3;
  width: 11px;
  height: 11px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform 0.2s;
}

.sortbox-container.active .sortbox {
  border: solid #65aff4;
  border-width: 0 2px 2px 0;
}

.sortbox-container.up .sortbox {
  top: 7px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.sortbox-container.down .sortbox {
  top: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.breadcrumbs {
  padding: 0px;
}

.breadcrumbs span {
  color: #868686;
  cursor: pointer;
  transition: content 0.2s;
}

.breadcrumbs span::after {
  content: " >";
}

.breadcrumbs span:hover::after {
  content: " <";
}

.breadcrumbs span:hover {
  color: black;
  text-decoration: line-through;
}

.breadcrumbs span.active {
  color: #000000;
}

.breadcrumbs span.active:hover {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.breadcrumbs span.active::after {
  content: "none";
}

.main-image {
  background-color: #000000;
  width: 100%;
  height: 490px;
  margin: 20px 0px;
  padding: 0px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-short-info {
  padding: 0px;
}

.post-short-info p.date {
  font-size: 14px;
  margin: 5px 0px;
  display: inline-block;
  font-family: "gothampro_light";
}

.comment {
  margin: 20px 0px;
}

.comment .image {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  overflow: hidden;
}

.comment .image {
  display: inline-block;
}

.comment .image img {
  width: 100%;
  height: 100%;
}

.comment h5 span {
  color: #0c85ad;
}

.heart {
  position: relative;
  top: 2px;
  display: inline-block;
}

.heart {
  width: 15px;
  height: 14px;
  background: url(./assets/images/love.png);
  background-size: 100% 100%;
  cursor: pointer;
  transition: background 0.2s;
}

.heart:hover,
.heart.active {
  background: url(./assets/images/love-active.png);
  background-size: 100% 100%;
}

.heart span {
  opacity: 0.5;
  position: absolute;
  top: -6px;
  left: 20px;
  display: inline-block;
}

.heart:hover span,
.heart.active span {
  opacity: 1;
}

.reply {
  margin-right: 15px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s;
}

.reply:hover {
  opacity: 1;
}

.text-field textarea {
  width: 100%;
  height: 40px;
  outline: none;
  resize: none;
  border: none;
  border-radius: 5px;
  background-color: #e9e9e9;
  font-family: "gothampro_light";
  padding: 10px 20px;
}

.comment-write {
  margin: 10px 0px;
}

.comment-write .btn {
  width: 100%;
}

.comment-write .col-3 {
  padding-left: 10px;
}

.filter h6 {
  margin: 10px 0px;
}

.primary-text {
  color: $primary-color;
}